{
  "root": true,
  "extends": ["next/core-web-vitals", "next", "plugin:jsx-a11y/recommended", "plugin:valtio/recommended"],
  "plugins": ["jsx-a11y"],
  "rules": {
    "react-hooks/exhaustive-deps": 0
  }
}
