:root {
  --color-gray-50: #f9fafb;
  --color-gray-100: #f4f5f7;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d2d6dc;
  --color-gray-400: #9fa6b2;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #252f3f;
  --color-gray-900: #161e2e;

  --color-primary-50: #ebf5ff;
  --color-primary-100: #e1effe;
  --color-primary-200: #c3ddfd;
  --color-primary-300: #a4cafe;
  --color-primary-400: #76a9fa;
  --color-primary-500: #3f83f8;
  --color-primary-600: #1c64f2;
  --color-primary-700: #1a56db;
  --color-primary-800: #1e429f;
  --color-primary-900: #233876;

  --color-success-50: #f3faf7;
  --color-success-100: #def7ec;
  --color-success-200: #bcf0da;
  --color-success-300: #84e1bc;
  --color-success-400: #31c48d;
  --color-success-500: #0e9f6e;
  --color-success-600: #057a55;
  --color-success-700: #046c4e;
  --color-success-800: #03543f;
  --color-success-900: #014737;

  --color-warning-50: #fdfdea;
  --color-warning-100: #fdf6b2;
  --color-warning-200: #fce96a;
  --color-warning-300: #faca15;
  --color-warning-400: #e3a008;
  --color-warning-500: #c27803;
  --color-warning-600: #9f580a;
  --color-warning-700: #8e4b10;
  --color-warning-800: #723b13;
  --color-warning-900: #633112;

  --color-danger-50: #fdf2f2;
  --color-danger-100: #fde8e8;
  --color-danger-200: #fbd5d5;
  --color-danger-300: #f8b4b4;
  --color-danger-400: #f98080;
  --color-danger-500: #f05252;
  --color-danger-600: #e02424;
  --color-danger-700: #c81e1e;
  --color-danger-800: #9b1c1c;
  --color-danger-900: #771d1d;

  --color-info-50: #edfafa;
  --color-info-100: #d5f5f6;
  --color-info-200: #afecef;
  --color-info-300: #7edce2;
  --color-info-400: #16bdca;
  --color-info-500: #0694a2;
  --color-info-600: #047481;
  --color-info-700: #036672;
  --color-info-800: #05505c;
  --color-info-900: #014451;

  --color-urge-50: #f0f5ff;
  --color-urge-100: #e5edff;
  --color-urge-200: #cddbfe;
  --color-urge-300: #b4c6fc;
  --color-urge-400: #8da2fb;
  --color-urge-500: #6875f5;
  --color-urge-600: #5850ec;
  --color-urge-700: #5145cd;
  --color-urge-800: #42389d;
  --color-urge-900: #362f78;
}
