:root {
  /* GRAY */
  --color-gray: var(--color-gray-600);
  --color-gray-light: var(--color-gray-400);

  --color-gray-low-title: var(--color-gray-900);
  --color-gray-low-content: var(--color-gray-700);
  --color-gray-low-fill: 'transparent';
  --color-gray-low-background: #fff;
  --color-gray-low-muted: var(--color-gray-700);

  --color-gray-normal-content: var(--color-gray-800);
  --color-gray-normal-fill: var(--color-gray-200);
  --color-gray-normal-background: var(--color-gray-100);
  --color-gray-normal-muted: var(--color-gray-700);

  --color-gray-high-content: #fff;
  --color-gray-high-fill: var(--color-gray-700);
  --color-gray-high-muted: var(--color-gray-300);

  /* PRIMARY */
  --color-primary: var(--color-primary-500);
  --color-primary-light: var(--color-primary-300);

  --color-primary-low-title: var(--color-primary-700);
  --color-primary-low-content: var(--color-primary-600);
  --color-primary-low-fill: 'transparent';
  --color-primary-low-background: #fff;
  --color-primary-low-muted: var(--color-primary-500);

  --color-primary-normal-content: var(--color-primary-800);
  --color-primary-normal-fill: var(--color-primary-200);
  --color-primary-normal-background: var(--color-primary-100);
  --color-primary-normal-muted: var(--color-primary-600);

  --color-primary-high-content: #fff;
  --color-primary-high-fill: var(--color-primary-500);
  --color-primary-high-muted: var(--color-primary-100);

  /* SUCCESS */
  --color-success: var(--color-success-500);
  --color-success-light: var(--color-success-300);

  --color-success-low-title: var(--color-success-700);
  --color-success-low-content: var(--color-success-600);
  --color-success-low-fill: 'transparent';
  --color-success-low-background: #fff;
  --color-success-low-muted: var(--color-success-500);

  --color-success-normal-content: var(--color-success-800);
  --color-success-normal-fill: var(--color-success-200);
  --color-success-normal-background: var(--color-success-100);
  --color-success-normal-muted: var(--color-success-600);

  --color-success-high-content: #fff;
  --color-success-high-fill: var(--color-success-500);
  --color-success-high-muted: var(--color-success-100);

  /* WARNING */
  --color-warning: var(--color-warning-500);
  --color-warning-light: var(--color-warning-300);

  --color-warning-low-title: var(--color-warning-800);
  --color-warning-low-content: var(--color-warning-700);
  --color-warning-low-fill: 'transparent';
  --color-warning-low-background: #fff;
  --color-warning-low-muted: var(--color-warning-600);

  --color-warning-normal-content: var(--color-warning-800);
  --color-warning-normal-fill: var(--color-warning-200);
  --color-warning-normal-background: var(--color-warning-100);
  --color-warning-normal-muted: var(--color-warning-600);

  --color-warning-high-content: var(--color-warning-900);
  --color-warning-high-fill: var(--color-warning-400);
  --color-warning-high-muted: var(--color-warning-800);

  /* DANGER */
  --color-danger: var(--color-danger-500);
  --color-danger-light: var(--color-danger-300);

  --color-danger-low-title: var(--color-danger-700);
  --color-danger-low-content: var(--color-danger-600);
  --color-danger-low-fill: 'transparent';
  --color-danger-low-background: #fff;
  --color-danger-low-muted: var(--color-danger-500);

  --color-danger-normal-content: var(--color-danger-800);
  --color-danger-normal-fill: var(--color-danger-200);
  --color-danger-normal-background: var(--color-danger-100);
  --color-danger-normal-muted: var(--color-danger-600);

  --color-danger-high-content: #fff;
  --color-danger-high-fill: var(--color-danger-500);
  --color-danger-high-muted: var(--color-danger-100);

  /* INFO */
  --color-info: var(--color-info-500);
  --color-info-light: var(--color-info-300);

  --color-info-low-title: var(--color-info-700);
  --color-info-low-content: var(--color-info-600);
  --color-info-low-fill: 'transparent';
  --color-info-low-background: #fff;
  --color-info-low-muted: var(--color-info-500);

  --color-info-normal-content: var(--color-info-800);
  --color-info-normal-fill: var(--color-info-200);
  --color-info-normal-background: var(--color-info-100);
  --color-info-normal-muted: var(--color-info-600);

  --color-info-high-content: #fff;
  --color-info-high-fill: var(--color-info-500);
  --color-info-high-muted: var(--color-info-100);
}
