:root {
  --box-shadow-xs: 0 0 0 1px rgba(#000, 0.05);
  --box-shadow-sm: 0 1px 2px 0 rgba(#000, 0.05);
  --box-shadow-default: 0 1px 3px 0 rgba(#000, 0.1), 0 1px 2px 0 rgba(#000, 0.06);
  --box-shadow-md: 0 4px 6px -1px rgba(#000, 0.1), 0 2px 4px -1px rgba(#000, 0.06);
  --box-shadow-lg: 0 10px 15px -3px rgba(#000, 0.1), 0 4px 6px -2px rgba(#000, 0.05);
  --box-shadow-xl: 0 20px 25px -5px rgba(#000, 0.1), 0 10px 10px -5px rgba(#000, 0.04);
  --box-shadow-2xl: 0 25px 50px -12px rgba(#000, 0.25);
  --box-shadow-inner: inset 0 2px 4px 0 rgba(#000, 0.06);
  --box-shadow-none: none;
  --box-shadow-outline: 0 0 0 3px rgba(#0e9f6e, 0.5);
  --box-shadow-outline-gray: 0 0 0 3px rgba(#c3c3c3, 0.5);
  --box-shadow-outline-primary: 0 0 0 3px rgba(#3f83f8, 0.5);
  --box-shadow-outline-success: 0 0 0 3px rgba(#0e9f6e, 0.5);
  --box-shadow-outline-warning: 0 0 0 3px rgba(#c27803, 0.5);
  --box-shadow-outline-danger: 0 0 0 3px rgba(#f05252, 0.5);
  --box-shadow-outline-info: 0 0 0 3px rgba(#0694a2, 0.5);
  --box-shadow-outline-urge: 0 0 0 3px rgba(#6875f5, 0.5);
}
