:root {
  --family-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --family-sans: var(--family-primary);
  --family-secondary: var(--family-primary);
  --family-special: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
