:root {
  --button-line-height: var(--line-height-normal);
  --button-transition-speed: 75ms;
  --button-filter-brightness: 95%;
  --field-transition-speed: 75ms;
  --field-disabled-opacity: 0.6;
  --aside-border-width: 3px;
}
