@each $tone in neutral, primary, success, warning, danger, info, urge {
  .\~$(tone) {
    --color-content: var(--color-$(tone)-normal-content);
    --color-fill: var(--color-$(tone)-normal-fill);
    --color-background: var(--color-$(tone)-normal-background, var(--color-fill));
    --color-muted: var(--color-$(tone)-normal-muted);
    --color-title: var(--color-$(tone)-normal-title, var(--color-$(tone)-normal-content));
    --color-core: var(--color-$(tone));
    --color-light: var(--color-$(tone)-light, var(--color-core));
    --color-icon: var(--color-$(tone)-normal-muted);
    --button-padding: var(--button-padding-medium);
    --button-fontsize: var(--button-fontsize-medium);
    --input-padding: var(--input-padding-medium);
  }

  @each $priority in low, high {
    .\~$(tone).\!$(priority) {
      --color-content: var(--color-$(tone)-$(priority)-content);
      --color-fill: var(--color-$(tone)-$(priority)-fill);
      --color-background: var(--color-$(tone)-$(priority)-background, var(--color-fill));
      --color-muted: var(--color-$(tone)-$(priority)-muted);
      --color-title: var(--color-$(tone)-$(priority)-title, var(--color-$(tone)-$(priority)-content));
      --color-icon: var(--color-$(tone)-$(priority)-muted);
    }
  }
}

@each $size in small, medium, large {
  .\!$(size) {
    --button-padding: var(--button-padding-$(size));
    --button-fontsize: var(--button-fontsize-$(size));
    --input-padding: var(--input-padding-$(size));
  }
}
