.chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-fill);
  color: var(--color-content);
  vertical-align: middle;

  @apply px-2 py-1 text-xs rounded font-secondary;
}
