.field {
  border-color: var(--color-light);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: inherit;
  transition: box-shadow var(--field-transition-speed) ease-out, border var(--field-transition-speed) ease-out;

  &[disabled] {
    cursor: not-allowed;
    opacity: var(--field-disabled-opacity);
  }

  &[readonly] {
    @apply select-all;
  }

  &::placeholder {
    @apply opacity-50;
  }

  &:hover {
    @apply shadow-lg;
  }

  &:focus {
    box-shadow: 0 0 0 theme('borderWidth.2') var(--color-light);

    @apply outline-none;
  }

  @apply w-full max-w-full border;
}
