.header,
.logo img {
  transition: all 0.3s ease 0s;
}

.headroom {
  &-wrapper {
    margin-bottom: var(--spacing-8);
  }
  &--pinned,
  &--unpinned {
    .header {
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px;
      padding: var(--spacing-4) 0;
    }
    .logo img {
      height: var(--spacing-6);
    }
  }
}
