.box-item {
  padding: var(--spacing-8);
  border-left: 1px solid var(--color-neutral-300);
  border-bottom: 1px solid var(--color-neutral-300);
  transition: box-shadow 0.3s ease;
  &:nth-child(-n + 1) {
    border-top: 1px solid var(--color-neutral-300);
  }
  &:nth-child(n + 1),
  &:last-child {
    border-right: 1px solid var(--color-neutral-300);
  }
  &:hover {
    box-shadow: 0 40px 90px -30px rgba(39, 79, 117, 0.2);
  }
  @screen md {
    &:nth-child(-n + 1) {
      border-top: 0;
    }
    &:nth-child(n + 1) {
      border-right: 0;
    }
    &:nth-child(-n + 2) {
      border-top: 1px solid var(--color-neutral-300);
    }
    &:nth-child(2n + 2),
    &:last-child {
      border-right: 1px solid var(--color-neutral-300);
    }
  }
  @screen lg {
    &:nth-child(-n + 2) {
      border-top: 0;
    }
    &:nth-child(2n + 2) {
      border-right: 0;
    }
    &:nth-child(-n + 3) {
      border-top: 1px solid var(--color-neutral-300);
    }
    &:nth-child(3n + 3),
    &:last-child {
      border-right: 1px solid var(--color-neutral-300);
    }
  }
}

.box-item {
  &:nth-child(2) {
    .box-icon {
      background: linear-gradient(-60deg, rgba(50, 207, 167, 0.75), rgba(150, 201, 61, 0.75));
    }
  }
  &:nth-child(3) {
    .box-icon {
      background: linear-gradient(-60deg, rgba(236, 0, 140, 0.75), rgba(255, 103, 103, 0.75));
    }
  }
  &:nth-child(4) {
    .box-icon {
      background: linear-gradient(-60deg, rgba(47, 128, 237, 0.75), rgba(86, 204, 242, 0.75));
    }
  }
  &:nth-child(5) {
    .box-icon {
      background: linear-gradient(-60deg, rgba(110, 72, 170, 0.75), rgba(192, 91, 210, 0.75));
    }
  }
}
.box-icon {
  position: relative;
  width: var(--spacing-20);
  height: var(--spacing-20);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: linear-gradient(-60deg, rgba(241, 39, 17, 0.7), rgba(245, 175, 25, 0.7));
  &:before,
  &:after {
    content: '';
    width: 28px;
    height: 100%;
    position: absolute;
  }
  &:before {
    transform: rotate(45deg);
    background-color: rgba(255, 255, 255, 0.15);
  }
  &:after {
    transform: rotate(-45deg);
    background-color: rgba(0, 0, 0, 0.05);
  }
}
